@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    box-sizing: border-box;
    line-height: 1.15;
    /* background: silver; */
    /* padding-left:200px; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before, *::after{
    box-sizing: border-box;
}

.clearmargin{
    min-width: 1120px;
    margin:auto;
    /* background: pink; */
}
/* .clearfix::before{
    content:"";
    clear: both;
    display:block;
}    */
.logo{
    position: absolute;
    width: 70px;
    height: 25px;
    top:30px;
}
.header{
    display: flex;
}
.main_menu{
    display:flex;
    /* justify-content: flex-start; */
    /* position: absolute; */
    /* position:relative; */
    left:270px;
    padding-left:100px;
}
a{
    color:black;
    text-decoration: none;

}

.main_menu a:hover{
    color: green;
}

.header{
    background:rgba(255, 255, 255, 0.9);
    position:fixed;
    height: 90px;
    width:100vw;
       
}
.header::after{
    content:"";
    display:block;
}
.menu_list:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 90px;
    width: 100%;
    height: 100px;
    left: 0;
    background-color: rgba(245,245,245,0.7) ;
  }

.menu_item{
    font-size:17px;
    padding:0 50px;
    position: relative;
    text-align: center;
}
.menu_item_1{
    margin-left:75px;
}
.menu_item_sub {
    display: none;

}
.menu_item_sub li{
    margin-left:20px;
}
.menu_list:hover .menu_item_sub {
    min-height: 90px;
    /* background: orange; */
    position: absolute;
    display:flex;
    margin-top:35px;
    width:100vw;
    padding-top:20px; 
    
}
.menu_list{
    padding:35px 0;
}


.readable_hidden{
    /* background: red; */
    position: absolute;
    overflow: hidden;
    width:1px;
    height:1px;
    clip: rect(0 0 0 0);
    
}
main{
    /* background: yellow;     */
    width:100vw;
    display:flex;
    margin: 20px 0;
}
.image-test{
    width:100vw;
    padding-top: 90px;
    /* background: greenyellow; */
    height:710px;
    display:block;
}
.news_list{
    display:flex;
    flex-direction: column;
    max-height:300px;
    flex-wrap: wrap;
    position: relative;
    
}
.news_section_title{
    font-size:36px;
    font-weight: 400;
}
.news_title{
    font-size:18px;
    font-weight: 400;
    line-height: 26px;
    
}
.news_item{
    margin-bottom:15px;
    margin-top:15px;
}
.news_more>a{
    position: absolute;
    top:0px;
    right:0px;
}

.footer_bg{
    width:100vw;
    height:200px;
    background: whitesmoke;
    position: absolute;
    z-index: -1;
    text-align: center;
}
.footer_text{
    display:flex;
}
.footer_items{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
}
.footer_item{
    width:215px;
}
.footer_item_title{
    font-size:20px;
    font-weight: 400;
    
}
.footer_item_detail{
    font-size:15px;
    line-height: 23px;
    margin-top:10px;
    color:#adadad;
}
